<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <form action="/" method="POST" id="form">
        <div class="form-group">
            <label for="email1">Email address:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="col-lg-4">
        <!-- "<%= %>" is used to insert javascript code that we want to output -->
        <!-- "<% %>" is used to insert javascript code that we don't want to output -->
        <h1>You searched for: <%= data.userQuery %> </h1>
        <% if(data.loggedIn){ %>
        <h2>You are logged in as : <%= data.userName %> </h2>
        <% } %>
        <ul>
            <% data.searchResults.forEach(result=>{ %>
            <li><%= `${result} ${data.userQuery}` %></li>
            <% }) %>
        </ul>
    </div>

    <!-- <script src="/public/js/main.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- <script>
        $(document).ready(() => {
            // handling the form
            $('#form').submit((e) => {
                e.preventDefault();
                // sending post requests through ajax
                $.ajax({
                    url: '/',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify($('#form').serializeArray()), // taking the form's data and converting it to json
                    success: (res) => {
                        console.log('successfully got response');
                        console.log(res);
                    }
                });
            });
        });
    </script> -->

</body>

</html>